/* Root Definitions */

:root {
    --color__purple--primary: #595185;
    --color__purple--secondary: #8e86bf;
    --color__orange--primary: #ee9500;
    --color__orange--secondary: #eebc00;
    --color__red--primary: #de1c15;
    --color__red--secondary: #ff4546;
    --color__green--primary: #85a23a;
    --color__green--secondary: #587437;
    --color__green--ternary: #9ebb3f;
}

/* General */

.container--centered {
    margin: auto;
}

.container--narrow {
    max-width: 50%;
}

.container--centered h1 {
    text-align: center;
}

.container--base {
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    max-width: 80%;
    border-radius: 8px;
    background-color: white;
}

.action-button--primary {
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid var(--color__purple--secondary);
    background-color: var(--color__purple--primary);
    color: white;
}

.action-button--primary:hover {
    background-color: var(--color__purple--secondary);
}

.action-button--secondary {
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid var(--color__orange--secondary);
    background-color: var(--color__orange--primary);
    color: white;
}

.action-button--secondary:hover {
    background-color: var(--color__orange--secondary);
}

.action-button--caution {
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid var(--color__red--secondary);
    background-color: var(--color__red--primary);
    color: white;
}

.action-button--caution:hover {
    background-color: var(--color__red--secondary);
}

.container--base h1 {
    text-align: center;
}

body {
    background-color: var(--color__green--primary);
}

/* Login */

.login-form__wrapper {
    max-width: 240px;
    margin: auto;
}

.login-form__row {
    margin: 0 0 10px 0;
}

.login-form__row label {
    display: inline-block;
    width: 30%;
}

.login-form__row button {
    margin: auto;
    display: block;
}

.demo-credentials__container {
    max-width: 240px;
    margin: auto;
    padding: 30px 0 0;
}

#login-error-body p {
    text-align: center;
}

/* Main Header */

.navigation__menu {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
}

.navigation__item a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    border: 2px solid var(--color__green--primary);
    background-color: var(--color__green--secondary);
    float: left;
    margin: 0 10px 0 0;
}

.navigation__item a:hover {
    background-color: var(--color__green--primary);
}

.navigation__item a:visited {
    color: white;
}

.logout-form__wrapper {
    float: right;
    margin: 5px 10px 0 0;
}

/* Main Footer */

.footer__wrapper {
    text-align: center;
}

/* Dashboard */

#dashboard-body p {
    text-align: center;
}

/* Product List */

.product-list-wrapper {
    width: 90%;
    margin: auto;
}

.product-list {
    table-layout: fixed;
}

.product-list .header__id {
    width: 5%;
}

.product-list .header__sku {
    width: 20%;
}

.product-list .header__name {
    width: 40%;
}

.product-list .header__price {
    width: 10%;
}

.product-list .header__qty {
    width: 5%;
}

.product-list .header__actions {
    width: 20%;
}

.product-actions-container {
    width: 60%;
    margin: auto;
}

.product-actions-container form {
    float: left;
    padding: 5px 5px;
}

.product-list__header {
    width: 90%;
    margin: auto;
}

.product-list__header .pagination-wrapper {
    width: 35%;
    display: inline-block;
}

.product-list__header .product-list__add-button-wrapper {
    float: right;
}

/* Product Edit */

.product-edit__back-button-wrapper {
    width: 90%;
    margin: auto;
}

.product-edit-form-wrapper {
    width: 40%;
    margin: auto;
    border-radius: 8px;
    background-color: var(--color__green--primary);
    padding: 20px;
}

.product-edit-form-wrapper .form-fieldset {
    background-color: white;
    border-radius: 8px;
    padding: 10px 0;
}

.product-edit-form-wrapper .form-row {
    margin: 0 10px 10px 10px;
}

.product-edit-form-wrapper .form-row label {
    width: 20%;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
}

.product-edit-form-wrapper .form-row input {
    width: 60%;
    border-radius: 8px;
    border: 2px solid var(--color__green--primary);
    padding: 2px 5px;
}

.product-edit-form-wrapper .form-row .error {
    display: block;
    color: var(--color__red--primary);
    width: 50%;
    margin: auto;
}

.product-edit-form-wrapper .save-button-wrapper {
    width: 10%;
    margin: auto;
}

/* Global Table */

.table--base {
    width: 100%;
}

.table--base thead {
    background-color: var(--color__green--secondary);
    color: white;
}

.table--base tbody tr:nth-child(even) {
    background-color: var(--color__green--primary);
}

.table--base tbody tr:nth-child(odd) {
    background-color: var(--color__green--ternary);
}

.table--base td {
    padding-left: 5px;
}

.table--base .column--centered {
    text-align: center;
}

/* Messages */

.messages-container {
    width: 80%;
    margin: auto;
}

.messages-container .message {
    width: 60%;
    margin: 0 auto 5px auto;
    padding: 5px 10px;
    border-radius: 8px;
    border: 3px solid white;

    text-align: center;
}

.messages-container .success {
    background-color: var(--color__orange--secondary);
    color: black;
}

.messages-container .error {
    background-color: var(--color__red--primary);
    color: white;
}